@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Mulish:wght@500&display=swap");

@media (min-width: 601px) and (max-width: 993px) {
  /* Aturan CSS untuk layar dengan lebar minimal 601px dan maksimal 992px */
}

.container {
  font-family: "Hammersmith One", sans-serif;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #b8fff9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.classOlahraga {
  width: 50vw;
  height: 32.5vh;
}
.classBisnis {
  width: 50vw;
  height: 30vh;
}
.classKesehatan {
  width: 50vw;
  height: 30vh;
}
.classTeknologi {
  width: 50vw;
  height: 30vh;
}
.navbar {
  font-family: "Hammersmith One", sans-serif;
  width: 100vw;
}

.logo-amikom {
  width: 45px;
  height: 45px;
}

.ucapan {
  padding-top: 6rem;
}

.carousel {
  padding-top: 6rem;
}

.login {
  font-family: "Hammersmith One", sans-serif;
}

.latar {
  background-color: #61dafb;
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  padding: 0.09%;
  color: white;
}

.image1 {
  width: 60%;
  margin: auto;
}
.image2 {
  width: 95%;
  margin: auto;
}
.image3 {
  width: 60%;
  margin: auto;
}

.aboutme {
  color: black;
  font-family: "Mulish", sans-serif;
}

/* List Buku */
.listbuku {
  background-color: #b8fff9;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 10vh;
}
.card1 {
  width: "50rem";
  border: 1px solid black;
}
.loginForm {
  background-color: #b8fff9;
}
.login {
  font-family: "Hammersmith One", sans-serif;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 25px;
  background: #b8fff9;
  box-shadow: -5px 5px 10px #808080, 5px -5px 10px #ffffff;
}

/* Bisnis Page */
.bisnispage {
  background-color: #b8fff9;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 1rem;
  font-family: "Mulish", sans-serif;
}
/* Teknologi Page */
.teknologipage {
  background-color: #b8fff9;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 1rem;
  font-family: "Mulish", sans-serif;
}

/* Olahraga Page */
.olahragapage {
  background-color: #b8fff9;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 1rem;
  font-family: "Mulish", sans-serif;
}

/* Kesehatan Page */
.kesehatanpage {
  background-color: #b8fff9;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 1rem;
  font-family: "Mulish", sans-serif;
}

/* Team */
.team {
  color: black;
}
